Mobile Picking und Voice Assistant/n8n/workflows/shortage-reported.json
{
  "name": "Shortage Reported",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shortage-reported",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 280]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'accepted', tts_text: 'Nachschub wird vorbereitet.', source: 'n8n', correlation_id: $json.correlation_id }) }}"
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [470, 120]
    },
    {
      "parameters": {
        "functionCode": "const payload = $json.payload || {};\nconst recommendation = payload.recommendation || null;\nif (!recommendation || !recommendation.recommended_location_id || !$json.picking_context || !$json.picking_context.location_id) {\n  return [];\n}\nconst ticketText = [\n  'Automatisch erzeugter Nachschubauftrag aus dem Voice-Exception-Pfad.',\n  payload.text ? `Meldung: ${payload.text}` : '',\n  recommendation.reason ? `Grund: ${recommendation.reason}` : '',\n].filter(Boolean).join(' ');\nreturn [{ json: {\n  correlation_id: $json.correlation_id,\n  picking_id: $json.picking_context.picking_id,\n  product_id: $json.picking_context.product_id,\n  location_id: $json.picking_context.location_id,\n  recommended_location_id: recommendation.recommended_location_id,\n  recommended_location: recommendation.recommended_location || '',\n  quantity: recommendation.quantity || 1,\n  reason: recommendation.reason || 'Automatische Nachschubanforderung nach Fehlmengen-Hinweis.',\n  ticket_text: ticketText,\n  requested_by_user_id: payload.requested_by_user_id || $json.picker.user_id || null,\n  requested_by_name: $json.picker.name || '',\n  log_message: `Nachschub fuer Picking ${$json.picking_context.picking_id} von ${recommendation.recommended_location || 'Alternativplatz'} nach Zielplatz ${$json.picking_context.location_id} angestossen.`,\n} }];"
      },
      "name": "Prepare Replenishment",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [540, 320]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://backend:8000/api/internal/n8n/replenishment-action",
        "jsonParameters": true,
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-N8N-Callback-Secret",
              "value": "={{ $env.N8N_CALLBACK_SECRET }}"
            },
            {
              "name": "Idempotency-Key",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "bodyParametersJson": "={{ JSON.stringify({ correlation_id: $json.correlation_id, picking_id: $json.picking_id, product_id: $json.product_id, location_id: $json.location_id, recommended_location_id: $json.recommended_location_id, recommended_location: $json.recommended_location, quantity: $json.quantity, reason: $json.reason, ticket_text: $json.ticket_text, requested_by_user_id: $json.requested_by_user_id, requested_by_name: $json.requested_by_name }) }}"
      },
      "name": "Create Replenishment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [860, 260]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://backend:8000/api/obsidian/log",
        "jsonParameters": true,
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-N8N-Callback-Secret",
              "value": "={{ $env.N8N_CALLBACK_SECRET }}"
            }
          ]
        },
        "bodyParametersJson": "={{ JSON.stringify({ category: 'REPLENISHMENT', message: $json.log_message }) }}"
      },
      "name": "Log To Obsidian",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [1110, 260]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Respond", "type": "main", "index": 0 },
          { "node": "Prepare Replenishment", "type": "main", "index": 0 }
        ]
      ]
    },
    "Prepare Replenishment": {
      "main": [
        [
          { "node": "Create Replenishment", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create Replenishment": {
      "main": [
        [
          { "node": "Log To Obsidian", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "error-trigger"
  },
  "tags": [
    { "name": "replenishment" },
    { "name": "cqrs" }
  ]
}
